.footer {
  background-color: #8a2b06;
  width: 100%;
}
.icons-section {
  display: flex;
  justify-content: center;
}
.icon {
  height: 30px;
  width: 30px;
  margin-right: 30px;
}

.youtube {
  color: red;
}
.facebook {
  color: #4267b2;
}
.instagram {
  color: #405de6;
}
.whatsapp {
  color: #25d366;
}
.newsletter {
  display: flex;
  justify-content: center;
}

.btn {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}
.footer__content {
  border: 1px solid red;
  height: 250px;
  display: flex;
}

.footer__section {
  flex: 1;
  border: 1px solid black;
  padding: 25px;
}
.list__items {
  list-style: none;
}
.listed__item:hover {
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s;
}
.listed__item {
  padding-top: 10px;
  color: black;
}
a {
  text-decoration: none;
}
